<h2>Part 1 - Initial Posting</h2>
<p>Review the following video (00:00) and ...</p>
<p>&gt;&gt; Embed_Video_Here &lt;&lt;</p>
<p>Author. (Year, Month Day). <em>Title_of_video</em>&nbsp;[Video]. YouTube.</p>
<p>To submit your initial posting, select <strong>Start a New Thread</strong> and then type a subject and your response to the prompt. When you are ready to submit your post, select <strong>Post</strong>.</p>
<p>🔔 Please include the DB module number and your name (ex: "DB10 - Jay Doe") in the title of your initial posting.</p>
<h2><strong>Part 2 - Replies &amp; Discussion</strong></h2>
<p>Reply to <strong>at least two</strong> of your classmates' initial postings by critiquing their analysis. How well did they demonstrate their understanding of the video clip? Did they leave out any crucial or opposing information? How did their analysis differ from your own? Do you have any questions about their assumptions?</p>
<p>To reply to your classmates, select either <strong>Reply to Thread</strong>&nbsp;(for initial postings) or&nbsp;<strong>Reply&nbsp;</strong>(for threaded discussions). Type your message and then select&nbsp;<strong>Post</strong>.</p>
<hr>
<p>📅 Initial Posting is due by 11:59 PM Pacific Time on Wednesday. Replies are due by 11:59 PM Pacific Time on Sunday.</p>