<p><strong>Part 1 (Due Wednesday)</strong><br>This activity aims to get to know each other, which will help you collaborate better.</p>
<ul>
<li>Respond and welcome your classmates.</li>
<li>Post a photo of yourself that you will use or used<strong> in your Brightspace profile (required!)</strong></li>
<li>Please share any information about
<ul>
<li>Your undergraduate or graduate degrees</li>
<li>Your current professional position if you are working.</li>
<li>Your work experiences.</li>
<li>Your experiences in programming</li>
<li>Your professional interests</li>
</ul>
</li>
<li>Tell us why you have selected this course and what you are expecting to learn.</li>
<li>Also, please conduct the Student Introductory Assignment (SIA) Survey.</li>
</ul>
<p><strong>Part 2 (Due Sunday)</strong><br>Respond to at least two of your classmates by critiquing their analysis. How well did they demonstrate their understanding? Did they leave out any crucial or opposing information? How did their analysis differ from your own? Do you have any questions about their assumptions?</p>
<p><strong>How a Discussion Forum works:</strong>  To post on the Discussion Forum, click the forum's name, then click on <strong>Create Thread</strong>. Type a subject "<strong><em>SIA - Your first name and last name</em></strong>" and a message. Then <strong>Submit </strong>your post.</p>
<p>The instructor will share the list of LinkedIn profile links through Announcement.</p>