<h2>Part 1 - Introduce Yourself</h2>
<p>The purpose of this activity is to get to know each other and help you better collaborate. Please include the following in your introduction:</p>
<ul>
<li>Introduce yourself and welcome your classmates.</li>
<li>Tell us why have you selected this course and what you are expecting to learn.</li>
<li>Please share any information about:
<ul>
<li>Your undergraduate or graduate degrees</li>
<li>Your current professional position if you are working</li>
<li>Your work experiences</li>
<li>Your experiences in programming</li>
<li>Your professional interests</li>
</ul>
</li>
<li>Post a photo of yourself that you use or will use in your Brightspace profile.</li>
</ul>
<p>To submit your introduction, select <strong>Start a New Thread</strong> and then type a subject and your introduction. When you are ready to submit your post, select <strong>Post</strong>.</p>
<p>🔔 Please include your name in the title of your introduction.</p>
<h2>Part 2 - Welcome Your Classmates</h2>
<p>Respond to <strong>at least two</strong> of your classmates' initial postings to welcome them.&nbsp;</p>
<p>To welcome your classmates, select either <strong>Reply to Thread</strong>&nbsp;(for initial postings) or&nbsp;<strong>Reply&nbsp;</strong>(for threaded discussions). Type your message and then select&nbsp;<strong>Post</strong>.</p>
<p>⚠️ If you do not complete this activity, you will lose a maximum of 5 points from your weekly Course Activities grade.</p>
<hr>
<p>📅 Your introduction is due by 11:59 PM Pacific Time on Wednesday. Replies to classmates are due by 11:59 PM Pacific Time on Sunday.</p>
<p></p>
